{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  {% if delete_mode %}
    Удаление комментария
  {% else %}
    Редактирование комментария
  {% endif %}
{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 40rem;">
        <div class="card-header">
          {% if delete_mode %}
            Удаление комментария
          {% else %}
            Редактирование комментария
          {% endif %}
        </div>
        <div class="card-body">
          <form method="post"
            {% if delete_mode %}
              action="{% url 'blog:delete_comment' post_id comment_id %}"
            {% else %}
              action="{% url 'blog:edit_comment' post_id comment_id %}"
            {% endif %}>
            {% csrf_token %}
            {% if not delete_mode %}
              {% bootstrap_form form %}
            {% else %}
              <p>{{ comment.text }}</p>
            {% endif %}
            {% bootstrap_button button_type="submit" content="Отправить" %}
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}